<% content_for :pagetitle do %>
    Teams
<% end %>
<div class="flex flex-col gap-4 w-9/12">

    <%@teams.each do |team| %>
        <div class="team-item items-center shadow-md bg-gray-100 mt-2 rounded-md p-4 flex flex-row justify-between">
            <div class="team-name">
                <%=team.name%>
            </div>
            <div class="team-buttons items-center flex flex-row">
                <%= link_to "Edit Team", team_path(team), class: "text-white bg-[#655783] font-medium rounded-lg text-sm px-5 py-2.5 mx-2 text-center " %>
                <%= link_to "Manage Content", content_team_path(team), class: "text-white bg-[#655783] font-medium rounded-lg text-sm px-5 py-2.5 mx-2 text-center" %>
            </div>
        </div>
    <%end%>
    <%== pagy_nav(@pagy) %>

</div>