<% content_for :pagetitle do %>
   <%= @team.name %>
<% end %>
<div class="flex flex-col gap-4 w-9/12">
    <div class="speaker-container bg-gray-100 shadow-md bg-gray-100 flex flex-col rounded-md p-4 mt-3">
        <%= form_with url: "", method: :get, data: {turbo_frame: "speakers", turbo_action: "advance"} do |form | %>
        <%= form.search_field :query, class: "shadow-md w-full bg-gray-100 border border-gray-600 p-1 pl-4 rounded-md", placeholder: "Search for Speaker", value: params[:query], oninput: "this.form.requestSubmit()" %>
        <%end%>
    </div>

    <h4 class="font-medium leading-tight text-2xl mt-0 mb-2 border-b-2 border-gray-400 text-[#655783]">Team Speakers</h4>
    <%= turbo_frame_tag "speakers", class: " overflow-hidden" do %>

        <%@speakers.each do |speaker| %>
            <div class="speaker-item shadow-md bg-gray-100 mt-2 rounded-md p-4 flex flex-row justify-between items-center">
                <%=speaker.name%>
                <% unless @team.speakers.exists?(speaker.id) %>
                    <%= form_with url: add_speaker_team_path(@team), method: :post do |form | %>
                        <%= form.hidden_field :speaker, value: speaker.id%>
                        <%= form.submit "Add Speaker", class: "text-white bg-[#655783] font-medium rounded-lg text-sm px-5 py-2.5 text-center "%>
                    <%end%>
                <%end%>
            </div>
        <%end%>
        <%== pagy_nav(@pagy) %>
    <%end%>

    <h4 class="font-medium leading-tight text-2xl mt-0 mb-2 border-b-2 border-gray-400 text-[#655783]">Add New Speakers</h4>
    <span>Upload a csv file or add a new speaker here </span>
    <div class="button-container flex">
        <%= form_tag import_speakers_teams_path(team_id: @team.id), multipart: true do %>
            <label class="flex relative text-white bg-[#655783] font-medium rounded-lg text-sm px-5 py-2.5 mx-2 text-center mb-2">
            Upload CSV
            <%= file_field_tag :file, class:"absolute top-0 left-0 right-0 opacity-0 cursor-pointer min-h-full min-w-full" %>
            </label>
        <%end%>
        <%= form_with url: "", method: :get, data: {turbo_frame: "speakers", turbo_action: "advance"} do |form | %>
            <%= form.hidden_field :add_speaker, value: true%>
            <%= form.submit "View All Speakers", name: nil, class: "text-white bg-[#655783] font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-2", oninput: "this.form.requestSubmit()" %>
        <%end%>
    </div>
</div>