
<div class="m-auto">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
<div class="bg-white px-10 py-8 rounded-xl w-screen shadow-md max-w-sm">
  <div class="space-y-4">
    <h1 class="text-center text-2xl font-semibold text-gray-600">Sign Up</h1>

    <div class="field">
      <%= f.label :email, class: "block mb-1 text-gray-600 font-semibold" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"bg-indigo-50 px-4 py-2 outline-none rounded-md w-full" %>
    </div>

    <div class="field">
      <%= f.label :password, class: "block mb-1 text-gray-600 font-semibold" %><br />
      <%= f.password_field :password, autocomplete: "current-password", class:"bg-indigo-50 px-4 py-2 outline-none rounded-md w-full" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Sign Up", class:"text-white bg-[#655783] font-medium rounded-lg text-sm px-5 py-2.5 mx-2 text-center mb-2 w-full" %>
    </div>
  </div>
  <div class="flex flex-col">
  <%= render "devise/shared/links" %>
  </div>
</div>

<% end %>
</div>
