  <div class="flex  font-['Open_Sans'] flex-col w-4/12 bg-gray-800 overflow-hidden">
    <div class="flex items-center  justify-center h-20 shadow-md">
      <h1 class="text-3xl uppercase text-[#655783]">Logo</h1>
    </div>
    <ul class="flex flex-col py-4 ">
      <li>
        <a href="/teams" class="flex flex-row items-center p-2 my-4  h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-100">
          <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-300"><i class="bx bx-home"></i></span>
          <span class="text-2xl font-2xl  text-gray-300">Teams</span>
        </a>
      </li>
      <li>
        <a href="/speakers" class="flex flex-row items-center p-2 my-4 h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-100">
          <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-300"><i class="bx bx-music"></i></span>
          <span class="text-2xl font-2xl  text-gray-300">Speakers</span>
        </a>
      </li>
      <li>
        <a href="/announcements" class="flex flex-row items-center p-2 my-4 h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-100">
          <span class="inline-flex  items-center justify-center h-12 w-12 text-lg text-gray-300"><i class="bx bx-drink"></i></span>
          <span class="text-2xl font-2xl text-gray-300">Announcements</span>
        </a>
      </li>
    </ul>
    <%=button_to "Sign Out", destroy_user_session_path, method: :delete, class:"text-white bg-[#655783] font-medium rounded-lg text-sm px-5 py-2.5 mx-2 text-center mb-2 w-80" unless current_user.nil?%>
  </div>