
<div class="speaker-container bg-gray-100 shadow-md bg-gray-100 flex flex-col rounded-md p-4 mt-3">
    <%= form_with url: "", method: :get, data: {turbo_frame: "employees", turbo_action: "advance"} do |form| %>
      <%= form.search_field :name, placeholder: "Search by name", value: params[:name], class: "shadow-md bg-gray-100 border border-gray-600 p-1 pl-4 rounded-md", oninput: "this.form.requestSubmit()" %>
      <%= form.button "Search", 
        class: "shadow-md bg-gray-100 border border-gray-600 p-1 pl-4 rounded-md",
        autocomplete: "off",
        data: { action: "input->search-form#search" }
       %>
    <% end %>
</div>

<h4 class="font-medium leading-tight text-2xl mt-0 mb-2 border-b-4 border-[#655783] text-[#655783]">Team Speakers</h4>
<%= turbo_frame_tag "speakers", class: "shadow overflow-hidden rounded border-b border-gray-200" do %>

    <%@speakers.each do |speaker| %>
        <div class="speaker-item shadow-md bg-gray-100 mt-2 rounded-md p-4 "><%=speaker.name%></div>
    <%end%>
    <%== pagy_nav(@pagy) %>
<%end%>
