<!DOCTYPE html>
<html>
  <head>
    <title>SpeakerPortal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <script src="https://cdn.tailwindcss.com"></script>

    <%= javascript_importmap_tags %>

  </head>

  <body class="h-screen font-['Open_Sans'] overflow-hidden flex flex-row bg-gray-300">
    <%= render "shared/sidebar" %>
    
    <div class="flex flex-col justify-center items-center overflow-y-auto content-center h-full w-full">
      <% if content_for?(:pagetitle) %>
        <div id="" class="page-title w-full font-['Open_Sans'] bg-white text-[#655783] shadow-md text-4xl p-8 flex content-center justify-start">
          <%=yield :pagetitle %>
        </div>
      <% end %>
            <%= flash[:notice]%>

    <main class="flex flex-row justify-center items-center h-screen w-full">
      <%= yield %>
    </main>
  </body>
</html>
